.jeshua {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 18.5px 0 13.2px 23.5px;
}

.jeshua_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jeshua_avatar img {
    border-radius: 6px;
    margin-right: 12.5px;
}

.name_time {
    display: flex;
    align-items: center;
    justify-content: start;
}

.name_time h1 {
    font-size: 12px;
    font-weight: 700;
    padding-right: 7px;
}

.name_time span {
    font-size: 12px;
    color: #8D8D8D;
}

.message span {
    font-size: 13px;
    color: #3577EF;
}


.date_of_chat {
    position: relative;
    width: 823.5px;
    height: 18px;
    text-align: center;
    margin: 0 auto;
}

.date_of_chat hr {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border: 0;
    height: 2px;
    background: #000000;
    color: #000000;
    opacity: 0.16;

}

.date_chat  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: 18px;
    margin: auto;
    padding: 0 14.5px;
    font-size: 13px;
    color: #8D8D8D;
    background-color: #FFFFFF;
    z-index: 999;
}

