.chat_central_image {
    position: relative;
    margin: 10px 0 10px 67px;
    width: 267px;
    height: 201px;
}

.chat_central_image img {
    border-radius: 5px;
}

.chat_central_image_emoji {
    position: absolute;
    bottom: -8px;
    right: -20px;
    width: 45px;
    height: 25px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;

}

.chat_central_image_emoji span {
    font-size: 12px;
    padding-left: 4.5px;
}


