.harold {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 18.5px 0 0 23.5px;
}

.harold_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.harold_avatar img {
    border-radius: 6px;
    margin-right: 12.5px;
}

.name_time {
    display: flex;
    align-items: flex-start;
    vertical-align: baseline;
    justify-content: start;
}

.name_time h1 {
    font-size: 12px;
    font-weight: 700;
    padding-right: 7px;
}

.name_time span {
    font-size: 12px;
    color: #8D8D8D;
}

.harold .message {
    display: flex;
    align-items: center;
}

.harold .message span {
    font-size: 13px;
    color: #000000;
    padding-right: 2px;
    line-height: 20px;
}

.photo_info {
    padding-left: 67px;
    font-size: 13px;
    color: #3577EF;
}
