.nav01 {
    width: 72.5px;
    min-height: 801px;
    background: #000000;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: centers;
}
.nav01_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.dots {
    padding: 9.5px 10px 10px 10px;
}

.item02,
.item06,
.item07,
.item05 {
    position: relative;
    width: 71.5px;
    height: 61.5px;
}

.item02 img,
.item03 img,
.item04 img,
.item05 img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.item03,
.item04,
.item08 {
    position: relative;
    width: 71.5px;
    height: 61.5px;
    opacity: 0.3;
    
}

.item06 img,
.item07 img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.3;
}


.item08 img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.nav01_down {
    position: relative;
    width: 41.5px;
    height: 41.5px;
    margin: 0 15px 15.5px 15px;
    border-radius: 50%;
}


.nav01_down__item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 41.5px;
    height: 41.5px;
    border-radius: 50%;
    box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
    opacity: 0.1;
    background: #FFFFFF;
}

.nav01_down img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}